<div id="<%= dom_id indicator %>">
  <p>
    <strong>Type:</strong>
    <%= indicator.type %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= indicator.title %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= indicator.value %>
  </p>

</div>
