<h1>Editing indicator</h1>

<%= render "form", indicator: @indicator %>

<br>

<div>
  <%= link_to "Show this indicator", @indicator %> |
  <%= link_to "Back to indicators", indicators_path %>
</div>
